alabaster==0.7.12
anytree==2.8.0
appdirs==1.4.4
apsw==3.35.4.post1
auto-cpufreq==1.0
autopep8==1.5.7
Babel==2.9.1
bcrypt==3.2.0
Beaker==1.11.0
beautifulsoup4==4.9.3
btrfsutil==5.12.1
CacheControl==0.12.6
cachetools==4.2.2
cchardet==2.1.7
cffi==1.14.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
configobj==5.1.0.dev0
contextlib2==0.6.0.post1
cryptography==3.4.7
css-parser==1.0.6
cssselect==1.1.0
distlib==0.3.2
distro==1.5.0
dnspython==1.16.0
docopt==0.6.2
docutils==0.17.1
duplicity==0.8.19
ewmh==0.1.6
fasteners==0.16
feedparser==5.2.1
flake8==3.9.2
future==0.18.2
google-api-core==1.30.0
google-api-python-client==2.10.0
google-auth==1.28.1
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
html2text==2020.1.16
html5-parser==0.4.9
html5lib==1.1
httplib2==0.19.1
idna==3.2
ifaddr==0.1.7
imagesize==1.2.0
Jinja2==3.0.1
lensfun==0.3.95
lxml==4.6.3
Mako==1.1.4
Markdown==3.3.4
MarkupSafe==2.0.1
mccabe==0.6.1
mechanize==0.4.5
meson==0.58.1
Mirage==0.11.1
more-itertools==8.7.0
msgpack==1.0.2
netifaces==0.11.0
oauth2client==4.1.3
ordered-set==4.0.2
packaging==20.9
paramiko==2.7.2
pep517==0.10.0
Pillow==8.3.0
ply==3.11
progress==1.5
protobuf==3.17.3
psutil==5.8.0
pulsectl==21.5.18
py7zr==0.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pychm==0.8.6
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.1
PyDrive==1.3.1
pyflakes==2.3.1
Pygments==2.9.0
PyGObject==3.40.1
PyNaCl==1.4.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.4
python-dateutil==2.8.1
python-xapp==2.2.1
python-xlib==0.31
pytz==2021.1
pyxdg==0.27
PyYAML==5.4.1
regex==2021.7.6
requests==2.25.1
resolvelib==0.5.5
retrying==1.3.3
rsa==4.7.2
setproctitle==1.2.2
setuptools-scm==6.0.1
six==1.16.0
snowballstemmer==2.1.0
soupsieve==2.2.1
Sphinx==4.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
team==1.0
terminator==2.1.1
texttable==1.6.3
toml==0.10.2
unrardll==0.1.4
uritemplate==3.0.1
urllib3==1.26.6
validate==5.1.0.dev0
webencodings==0.5.1
zeroconf==0.29.0
